/**
 * Walmartlabs theme for presentations.
 * By Alison Loney
 *
 * Based on the White theme for reveal.js.
 * By Hakim El Hattab, http://hakim.se
 */

/*********************************************
* FONT ALIGNMENT STYLES
*********************************************/

.reveal .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  margin: auto;
  /*margin-top: 0;*/
  overflow: visible;
  z-index: 1;
  text-align: center;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 40%;
  perspective-origin: 50% 40%; }

/*********************************************
* SECTION SPECIFIC STYLES
*********************************************/
.reveal section.title-slide h1{
  color: #ffffff;
  padding-top: 0; }

.reveal blockquote {
  position: relative; }
