/* ------------------------------ IMPORT FONTS ------------------------------ */

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);*/

/* bogle - latin */
@font-face {
    font-family: 'Bogle';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/bogle-web-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bogle-web-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bogle-web-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* bogle regular italic - latin */
@font-face {
    font-family: 'Bogle';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/bogle-web-regular-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bogle-web-regular-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bogle-web-regular-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* bogle bold - latin */
@font-face {
    font-family: 'Bogle';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/bogle-web-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bogle-web-bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bogle-web-bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/open-sans-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

* {
    border-radius: 0 !important; }

/* ------------------------------ GENERAL STYLES ------------------------------ */

html {
  overflow: scroll;
  background: #ffffff; }

html, body {
    font-family: 'Bogle', sans-serif;
    font-weight: normal; }

body {
    color: #666;
    font-size: 17px;
    line-height: 1.5; }

p {
    padding: 0px 0px 5px; }

p, li {
    color: #555;
    line-height: 1.6; }

a,a:focus,a:hover,a:active {
    color: #007dc6;
    font-weight: normal;
    line-height:1.5;
    outline: 0 !important; }

a:hover {
    text-decoration: underline; }

a:focus,
a:hover,
a:active,
.color,
.carousel-arrow a.carousel-control:hover,
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover,
.info-blocks:hover i.icon-info-blocks,
.blog li a:hover {
    color: #0b4e90; }

h1,h2,h3,h4,h5 {
    color: #454545;
    margin-top: 20px;
    text-shadow: none;
    font-weight: normal !important;
    font-family: 'Bogle', sans-serif; }

h1 a,h2 a,h3 a,h4 a,h5 a,
h1 a:focus,h2 a:focus,h3 a:focus,h4 a:focus,h5 a:focus,
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,
h1 a:active,h2 a:active,h3 a:active,h4 a:active,h5 a:active {
    color: #454545;
    font-weight: normal;
    text-decoration: none; }

h1, .h1 {
    font-size: 2.8em; }

h2, .h2 {
    font-size: 2.4em; }

h3, .h3 {
    font-size: 2.0em; }

h4, .h4 {
    font-size: 1.6em; }

h5, .h5 {
    font-size: 1.4em; }

h6, .h6 {
    font-size: 1em; }

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px; }

ul li {
    list-style-type: disc;
    margin-left: 20px; }

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin:10px 0px; }

pre {
    background: #f7f7f9;
    padding: 10px 20px;
    margin: 0px 0px 25px; }

pre.highlight {
    background: #fafafa; }

code {
    color: #333333;
    background-color: #eaeaea; }

pre table td {
    padding: 0; }

pre pre, pre pre.lineno {
    margin: 0px;
    border: 0px solid #e1e1e8; }

pre pre.lineno {
    background: #f7f7f9;
    border: 0px solid #e1e1e8;
    padding: 0px;
    color: #bebec5; }

td.code {
    width: 100%; }

.btn-u,.tab-v1 .nav-tabs > .active > a:hover,.tab-v1 .nav-tabs > .active > a:focus,ul.blog-tags a:hover {
    background: #007dc6; }

.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
    background-color: #007dc6;
    border-color: #007dc6; }

.list-large {
    font-size: 14px; }

.hide {
    display: none; }

.small {
    font-size: 85%; }

.large {
    font-size: 110%; }

.emoji {
    margin-top: -4px;
    padding: 0 3px; }

.center {
    text-align: center; }

.left {
    text-align: left; }

.right {
    text-align: right; }

blockquote {
    background: #f0f0f0;
    border-left: 5px solid #666666;
    padding: 20px 20px 15px;
    margin-top: 30px; }

.breadcrumbs p {
    font-size: 11px;
    margin-top:12px; }

/* ------------------------------ MARGIN BOTTOM ------------------------------ */

.margin-bottom-5,.margin-bottom-10,.margin-bottom-20,.margin-bottom-30,.margin-bottom-40,.margin-bottom-50 {
    clear: both; }

.margin-bottom-5 {
    margin-bottom: 5px; }

.margin-bottom-10 {
    margin-bottom: 10px; }

.margin-bottom-20 {
    margin-bottom: 20px; }

.margin-bottom-30 {
    margin-bottom: 30px; }

.margin-bottom-40 {
    margin-bottom: 40px; }

.margin-bottom-50 {
    margin-bottom: 50px; }

/* ------------------------------ HEADER/NAVIGATION STYLES ------------------------------ */

.header {
    z-index: 9;
    position: relative;
    border-bottom: solid 1px #eaeaea; }

.header .navbar {
    margin: 0;
    min-height: inherit; }

.header .navbar-default {
    border: none;
    background: none; }

.header .navbar-collapse {
    position: relative; }

.header .navbar-brand {
    height: 80px;
    z-index: 2;
    position: relative;
    padding: 0; }

.header .navbar-default .navbar-nav > li {
    margin-left: 0px;
    padding-left: 2px; }

.header .navbar-default .navbar-nav > li > a {
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.09em;
    margin-top: 15px;
    padding: 8px 15px; }

.header .navbar-default .navbar-nav > li > a:hover {
    color: #ffc220; }

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .header .navbar-default .navbar-nav > li > a {
        margin-top: 5px;
        padding: 10px 30px; }
    li.search {
        margin: 0px 30px; }
    .form-control {
        margin: 0px 30px;
        width: 80%; }
}

.header .navbar-default .navbar-nav > .active > a {
    background: #ffc220;
    color: #ffffff;
    /*border: 0px solid #ffffff;
     border-radius: 5px !important;*/ }

.navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background: #ffc220; }

.navbar-toggle:hover {
    background: #ffc220 !important; }

.navbar-default .navbar-toggle {
    border-color: #ffc220;
    margin-top: 30px; }

.navbar-default .navbar-toggle .icon-bar {
    background: #fff; }

.header .navbar .nav > li > a.search:hover {
    color: #ffc220; }

.header .navbar-collapse {
    padding: 0; }

.header .navbar-nav {
    top: 2px;
    margin-top: 10px;
    position: relative; }

ul.nav li {
    list-style-type:none;
    background: #ffffff; }

.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > .active > a {
    background: #ffc220;
    color: #ffffff; }

.header .navbar-default .navbar-nav > li > a {
    background: #ffffff; }

.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > li > a:focus,.header .navbar-default .navbar-nav > .active > a,.header .navbar-default .navbar-nav > .active > a:hover,.header .navbar-default .navbar-nav > .active > a:focus {
    background: #ffc220; }

.header .navbar-default .navbar-nav > .open > a:hover,.header .navbar-default .navbar-nav > .open > a:focus {
    color: #fff; }

.header .navbar-default .navbar-nav > li > a.search {
    margin-top: 14px;
    padding: 7px 10px;
    border: 1px solid #fff; }

.header .navbar-default .navbar-nav > li > a.search:hover,.header .navbar-default .navbar-nav > .active > a.search {
    background: #fff;
    border: 1px solid #ffc220;
    color: #ffc220;
    cursor: pointer; }

ul.dropdown-menu li {
    margin-left: 0px; }

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #666;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #ffc220;
    color: #fff; }

.header-sticky {
    background: #ffffff;
    /*top: 0;
     left: 0;
     width: 100%;
     height: 89px;
     z-index: 999;
     position: fixed;*/ }

ul.top-nav {
    background-color: #333333;
    color: #ffffff;
    margin: 0px;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea; }

ul.top-nav li {
    display:inline-block;
    font-size: 12px;
    padding: 0px;
    margin: 5px 5px 5px 0px;
    color: #ffffff; }

ul.top-nav li a {
    color: #d2eaf6;
    font-weight: 700;
    padding-right: 5px; }

.header .navbar-default .navbar-nav > .open > a {
  background-color: #ffc220;
  color: #ffffff; }

/* ------------------------------ SEARCH STYLES ------------------------------ */

#search .dropdown-menu {
  border: 0px;
  padding: 0px;
  margin: 0px; }

#search-container {
  width:250px; }

#search-input {
  color: #999;
  font-size: 14px;
  height: 36px;
  outline: none;
  padding: 0px 10px;
  width:100%; }

#search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc; }

#search-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc; }

#search-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc; }

#search-input:-moz-placeholder { /* Firefox 18- */
 color: #ccc; }

#results-container {
  z-index: 1000;
  position: absolute;
  top: 35px;
  right: 0px;
  border: 1px solid #eaeaea;
  background: #fff;
  padding: 0px;
  width: 100%;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175); }

#results-container li {
  font-size:14px;
  margin-left: 10px;
  padding:5px 0px; }

.icon-search {
  color: #ffc220;
  margin-left: 5px; }

@media (max-width: 767px) {
  #search-container {
    margin-left: 30px;
    width: 100%; }
  }

/* ------------------------------ HOMEPAGE STYLES ------------------------------ */

.homeBanner {
    background: #2f2951;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 0px; }

/* ------------------------------ ICON STYLES ------------------------------ */

.icons {
    text-align: center;
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 20px 30px 10px; }

.icons img.center {
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 40%; }

.icons .headline {
    display: block;
    margin: 10px 0 25px;
    border-bottom: 0px; }

.icons .headline h2 {
    border-bottom: 0px; }

.icons .headline h2 a {
    color: #454545;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 -1px;
    padding-bottom: 0px;
    display: inline-block;
    border-bottom: 0px solid #fff; }

/* ------------------------------ FONT HEADLINE STYLES ------------------------------ */

.headline {
    display: block;
    margin: 10px 0 25px;
    padding-bottom: 0px;
    border-bottom: 2px dotted #eaeaea; }

.headline h2 {
    color: #454545;
    font-size: 24px;
    margin: 0 0 -2px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #d2eaf6; }

.headline h3 {
    color: #454545;
    font-size: 20px;
    margin: 0 0 -2px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #d2eaf6; }

p.heading {
    font-size: 17px; }

/* ------------------------------ PAGINATION ------------------------------ */

ul.pagination li {
    background: none; }

ul.pagination li a:hover {
    background: #ffc220;
    color: #ffffff; }

/* ------------------------------ FORM STYLES ------------------------------ */

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* ------------------------------ COLORS ------------------------------ */

.color {
    text-align: center;
    padding: 20px;
    width: 100%; }

/* ------------------------------ DEFAULT COLORS ------------------------------ */

.grey {
    color: #454545 !important; }

.grey-bg {
    background-color: #454545 !important;
    color: #ffffff; }

.grey-bg:hover {
    background-color: #333333 !important; }

.dark-blue {
    color: #2f2951 !important; }

.dark-blue-bg {
    background-color: #2f2951 !important;
    color: #ffffff; }

.dark-blue-bg:hover {
    background-color: #1d1937 !important; }

.medium-blue {
    color: #0b4e90 !important; }

.medium-blue-bg {
    background-color: #0b4e90 !important;
    color: #ffffff; }

.medium-blue-bg:hover {
    background-color: #083f6d !important; }

.blue {
    color: #007dc6 !important; }

.blue-bg {
    background-color: #007dc6 !important;
    color: #ffffff; }

.blue-bg:hover {
    background-color: #0268a0 !important; }

.pale-blue {
    color: #d2eaf6 !important; }

.pale-blue-bg {
    background-color: #d2eaf6 !important;
    color: #ffffff; }

.pale-blue-bg:hover {
    background-color: #bad8e5 !important; }

.light-grey {
    color: #d1d1d1 !important; }

.light-grey-bg {
    background-color: #d1d1d1 !important;
    color: #ffffff; }

.light-grey-bg:hover {
    background-color: #b3b3b3 !important; }

.yellow {
    color: #ffc220 !important; }

.yellow-bg {
    background-color: #ffc220 !important;
    color: #ffffff; }

.yellow-bg:hover {
    background-color: #efac03 !important; }

/* ------------------------------ WALMART (EXTERNAL FACING) COLORS ------------------------------ */

.walmart-blue {
    color: #007dc6 !important; }

.walmart-blue-bg {
    background-color: #007dc6 !important;
    color: #ffffff; }

.walmart-blue-bg:hover {
    background-color: #006ba0 !important; }

.walmart-dark-blue {
    color: #004c91 !important; }

.walmart-dark-blue-bg {
    background-color: #004c91 !important;
    color: #ffffff; }

.walmart-dark-blue-bg:hover {
    background-color: #013b66 !important; }

.walmart-light-blue {
    color: #78b9e7 !important; }

.walmart-light-blue-bg {
    background-color: #78b9e7 !important;
    color: #ffffff; }

.walmart-light-blue-bg:hover {
    background-color: #51b6f4 !important; }

.walmart-orange {
    color: #f47321 !important; }

.walmart-orange-bg {
    background-color: #f47321 !important;
    color: #ffffff; }

.walmart-orange-bg:hover {
    background-color: #e95e05 !important; }

.walmart-yellow {
    color: #ffc220 !important; }

.walmart-yellow-bg {
    background-color: #ffc220 !important;
    color: #ffffff; }

.walmart-yellow-bg:hover {
    background-color: #f8b502 !important; }

.walmart-dark-green {
    color: #367c2b !important; }

.walmart-dark-green-bg {
    background-color: #367c2b !important;
    color: #ffffff; }

.walmart-dark-green-bg:hover {
    background-color: #246819 !important; }

.walmart-light-green {
    color: #76c043 !important; }

.walmart-light-green-bg {
    background-color: #76c043 !important;
    color: #ffffff; }

.walmart-light-green-bg:hover {
    background-color: #58a622 !important; }

/* ------------------------------ CUSTOM (INTERNAL FACING) COLORS ------------------------------ */

.custom-grey {
    color: #666666 !important; }

.custom-grey-bg {
    background-color: #666666 !important;
    color: #ffffff; }

.custom-grey-bg:hover {
    background-color: #555555 !important; }

.custom-dark-blue {
    color: #1c3664 !important; }

.custom-dark-blue-bg {
    background-color: #1c3664 !important;
    color: #ffffff; }

.custom-dark-blue-bg:hover {
    background-color: #0c1e3a !important; }

.custom-medium-blue {
    color: #0c4d8e !important; }

.custom-medium-blue-bg {
    background-color: #0c4d8e !important;
    color: #ffffff; }

.custom-medium-blue-bg:hover {
    background-color: #083f6d !important; }

.custom-pale-blue {
    color: #d2eaf6 !important; }

.custom-pale-blue-bg {
    background-color: #d2eaf6 !important;
    color: #ffffff; }

.custom-pale-blue-bg:hover {
    background-color: #bad8e5 !important; }

.custom-light-grey {
    color: #b3b3b3 !important; }

.custom-light-grey-bg {
    background-color: #b3b3b3 !important;
    color: #ffffff; }

.custom-light-grey-bg:hover {
    background-color: #999999 !important; }

.custom-yellow {
    color: #fdb94c !important; }

.custom-yellow-bg {
    background-color: #fdb94c !important;
    color: #ffffff; }

.custom-yellow-bg:hover {
    background-color: #ed9d29 !important; }

.custom-red {
    color: #c80014 !important; }

.custom-red-bg {
    background-color: #c80014 !important;
    color: #ffffff; }

.custom-red-bg:hover {
    background-color: #ad0411 !important; }

/* ------------------------------ BUTTONS ------------------------------ */

.btn-u {
    background: #ffc220;
    border: 0px solid #f47321;
    border-radius: 25px !important;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: light;
    letter-spacing: 0.1em;
    margin: 0px 0px 20px;
    padding: 10px 25px 9px;
    position: relative;
    text-align: center;
    text-decoration: none !important; }

.btn-u:hover {
    background: #efac03;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.full-width {
    width:100%; }

.list-group {
    border: none;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fafafa;
    border: 1px solid #fff; }

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #ffc220;
    border-color: #ffc220; }

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit; }

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #c7ddef; }

.list-group-item-success {
    color: #666;
    background-color: #fafafa; }

a.list-group-item-success {
    color: #666;
    font-size: 17px;
    font-weight: 300; }

a.list-group-item-success .list-group-item-heading {
    color: inherit; }

a.list-group-item-success:hover,
a.list-group-item-success:focus {
    color: #ffffff;
    background-color: #ffc220; }

a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d; }

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: none; }

.btn-projects {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #666;
    width: 100%;
    text-align: left;}

.btn-projects:hover, .btn-projects:focus, .btn-projects.focus, .btn-projects:active, .btn-projects.active, .open > .dropdown-toggle.btn-projects {
    color: #fff;
    background-color: #ffc220;
    border: 0px solid #ffc220; }

.project-btn-container {
    background: #fafafa;
    /*height: 100vh;*/
    height: 100%;
    min-height: 100%;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }

.btn-group, .btn-group-vertical {
    width: 100%; }

/* ------------------------------ FOOTER STYLES ------------------------------ */

.footer {
  color: #ffffff;
  opacity: 0.6;
  margin-top: 40px;
  padding: 20px 0 30px;
  background: #2f2951;
  border-top: 1px solid #2f2951; }

.footer h2 {
  background: none;
  color: #cccccc;
  font-weight: normal !important;
  text-shadow: none; }

.footer p, .footer a {
  font-size: 14px;
  letter-spacing: 0.05em; }

.footer p,.copyright p {
  color: #cccccc; }

.footer a {
  color: #ffffff;
  opacity: 0.6; }

.footer a:hover {
  color: #ffffff;
  opacity: 1.0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.footer .headline {
  border-bottom: 2px solid #ffffff;
  display: block;
  margin: 10px 0 25px; }

.footer .headline h2 {
  color: #cccccc;
  margin: 0 0 -2px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #ffc220; }

.footer .btn-u {
  background: #ffc220; }

.footer .btn-u:hover {
  background: #eead00; }

.copyright {
  background: none repeat scroll 0 0 #2f2951;
  border-top: 1px solid #2f2951;
  font-size: 12px;
  padding: 11px 0 7px; }

.copyright p.copyright-space {
  margin-top: 12px; }

.copyright p {
  color: #ffffff;
  opacity: 0.6; }

.copyright a {
  color: #fff;
  text-decoration: none; }

.copyright a:hover {
  color: #ffc220;
  text-decoration: underline; }

/* ------------------------------ STICKY FOOTER ------------------------------ */

html,body {
    height: 100%; }

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -150px;*/
    margin-bottom:-150px;
/*padding: 0 0 150px;*/ }

.wrap:after {
    content:"";
    display:block; }

.stickyFooter, .wrap:after {
    height: 150px; }

.stickyFooter {
    background-color: #2f2951; }

/* ------------------------------ TABLE STYLES ------------------------------ */
th {
    background-color:#007dc6;
    color:#fff;
    padding:8px 10px;
    font-weight:normal; }

td {
    padding:8px 10px; }

tbody > tr:nth-child(even) > td,
tbody > tr:nth-child(even) > th {
    background-color: #f9f9f9;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea; }

/* ------------------------------ BLOG STYLES ------------------------------ */

.blog {
    width: 100%; }

.blog h2 a {
    color: #454545;
    text-decoration: none; }

.blog h2 a:hover {
    text-decoration: underline; }

.blog ul {
    margin-top: 5px;
    margin-bottom: 0; }

.blog ul li {
    margin-left: 0px; }

.blog-post-tags {
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    margin-bottom: 20px; }

.blog-post-tags li {
    background:none; }

/*.blog-post-tags ul.blog-tags a:hover {
    background: none repeat scroll 0 0 #004c91;
    border-radius: 5px; }*/

.blog-readmore {
    margin-top:10px;
    margin-bottom: 40px;
    float:left; }

.blog-readmore .btn-u {
    font-size: 13px; }

.buttons-right {
    margin-top:10px;
    float:right; }

.blog-page img {
    display: block;
    max-width: 100%;
    height: auto; }

.blog-page a img {
    color: #fff; }

.blog-page a:hover img {
    color: #fff; }

ul.blog-tags li {
    display: inline-block;
    font-size:13px; }

ul.blog-tags a {
    background: none;
    border-radius: none;
    color: #127dc6;
    font-size: 13px;
    padding: 0px;
    margin: 0px 0px 8px;
    display: inline-block; }

ul.blog-tags a:hover,ul.blog-tags a:hover i {
    background: none;
    color: #127dc6 !important;
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.trainingPromo {
    text-align: center; }

ul.blog-tags a img {
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: inline-block; }

ul.blog-tags a:hover img {
    background: none; }

.blog-feed a {
    font-size:14px; }

.blog-feed {
    font-size:12px; }

#titleShare {
    float: right; }

#titleShare #share-buttons img {
    background: none;
    width: 25px;
    padding: 2px;
    border: 0;
    box-shadow: 0;
    display: inline; }

#titleShare #share-buttons img:hover {
    background: none; }

#share-buttons img {
    width: 50px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline; }

/* ------------------------------ DOCUMENTATION STYLES ------------------------------ */

.docs-navigation > h2 {
    font-size: 17px;
    padding: 4px 0 10px 0;
    margin: 0px 0px 0px -4px; }

.docs-navigation > h2 > a {
    cursor: pointer; }

.docs-navigation i {
    width: 15px; }

.docs-navigation i.fa-chevron-right:before {
  margin-left: 4px; }

.docs-navigation > ul > li, .docs-navigation > ul > li > ul > li {
    border-left: 1px solid #eaeaea;
    font-size: 13px;
    list-style: none;
    background: none;
    padding: 3px 0px 3px 12px;
    margin: 0px 6px 0px 4px; }

.docs-navigation > ul > li.active, .docs-navigation > ul > li > ul > li.active {
    border-left: 3px solid #0e7dc1;
    padding: 3px 0px 3px 12px;
    margin: 0px 4px 0px; }

.docs-navigation > ul > li.active > a {
    font-weight: 700; }

.docs-navigation > ul > li.active a:hover, .docs-navigation > ul > ul > li.active a:hover {
    font-weight: 700;
    text-decoration: none; }

.docs-navigation > ul > li a:hover, .docs-navigation > ul > ul > li a:hover {
    font-weight: 400;
    text-decoration: none; }

.docs-content .left {
    text-align: left; }

.docs-content .right {
    text-align: right; }

.docs-content h1, .docs-content h2, .docs-content h3 {
    position: relative;
    padding-right: 27px; }

.docs-content h1:after, .docs-content h2:after, .docs-content h3:after {
    content: "\f08e";
    color: #cccccc;
    font-family: 'FontAwesome';
    font-size: 13px;
    right: 0;
    padding-left: 10px; }

.docs-content h1:after {
    bottom: 10px; }

.docs-content h2:after {
    bottom: 7px; }

.docs-content h3:after {
    bottom: 5px; }

/* ------------------------------ BACK TO TOP ------------------------------ */

#back-top {
    position: fixed;
    bottom: 30px;
    margin-left: -150px; }


#back-top span {
    width: 51px;
    height: 42px;
    display: block;
    background: url(../img/up.png) no-repeat center center;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }
