<div class="">
  <div class="icon margin-bottom-50" align="center">
    <img src="/assets/wmt/img/icons/light/icon-blog.png" width="50%"/>
  </div>

  <div class="headline">
    <h2>OneOps Team Blog</h2>
  </div>
  <p>Whether we are planning an event, make a new release available, present at a conference or user group meeting or have something cool to share. The OneOps Team Blog here is the place to be for the latest news and more on OneOps.</p>
  <p>You might also be curious about what happens <a href="/general/in-the-press.html">In The Press and Elsewhere</a>.</p>
  <p>But now, here is the latest from the <em>OneOps team</em> - unless you want to see it all in the <a href="./archive.html">archive</a>.</p>
</div>
