
<div class="row margin-bottom-30" align="center">
  <h3><a href="" target="_blank"><i class="fa fa-slack"></i></a>&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;<a href="" target="_blank"><i class="fa fa-twitter"></i></a></h3>
  <br/>
  <a href="http://corporate.walmart.com/privacy-security/" target="_blank">Privacy &amp; Security</a> | <a href="http://corporate.walmart.com/privacy-security/california-privacy-rights" target="_blank">California Privacy Rights</a>
</div>
