            <!--left sub navigation-->
            <nav id="sidenav">
              <h2>DEV DOCS</h2>
              <ul class="nav">
                <li{% if page.url == "/developer/" %} class="active" {% endif %}>
                  <a href="/developer/index.html">Overview</a>
                </li>
                <li{% if page.url contains "/developer/general/key-concepts" %} class="active" {% endif %}>
                  <a href="/developer/general/key-concepts.html">Key Concepts</a>
                </li>
                <li>
                  <a onclick="$('#dev-core').toggleClass('hidden');">Core Development
                  <span class="caret"></span></a>
                  <ul id="dev-core"{% unless page.url contains "/developer/core-development/" %} class="hidden"{% endunless %}>
                    <li class="sub-menu-item{% if page.url == '/developer/core-development/' %} active{% endif %}">
                        <a href="/developer/core-development/index.html">Index</a>
                    </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/developer/core-development/" and currentpage.url != "/developer/core-development/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#dev-content').toggleClass('hidden');">Content Development
                  <span class="caret"></span></a>
                  <ul id="dev-content"{% unless page.url contains "/developer/content-development/" %} class="hidden"{% endunless %}>
                    <li class="sub-menu-item{% if page.url == '/developer/content-development/' %} active{% endif %}">
                        <a href="/developer/content-development/index.html">Index</a>
                    </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/developer/content-development/" and currentpage.url != "/developer/content-development/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li{% if page.url contains "/developer/integration-development/" %} class="active" {% endif %}>
                  <a href="/developer/integration-development/index.html">Integration Development</a>
                </li>
              </ul>
            </nav>