<div class="container" >
  <div class="row" >
    <div class="col-md-6 footer-element">
      <div><img src="/assets/img/footer-logo.png" /></div>
      <p class="copyright-space">Copyright 2016-2017 Walmart Stores, Inc. All Rights Reserved.</p>
    </div>
    <div class="col-md-6 footer-element">
      <ul class="pull-right top-footer-spacer">
        <li class="footer-privacy-link hvr-underline-from-left pull-left">
          <a href="http://corporate.walmart.com/privacy-security/" target="_blank">Privacy & Security </a></li>
        <li class="footer-privacy-link hvr-underline-from-left footer-link-spacer pull-left">
          <a href="http://corporate.walmart.com/privacy-security/california-privacy-rights" target="_blank"> California Privacy Rights </a></li>
      </ul>
    </div>
  </div>
</div>
