<div data-feedback-type="article" class="btn-vote-group js-btn-vote-group customer-review-voting hide-content display-inline-block-m">
    <span class="btn-vote-heading">Was this section helpful?</span>
    <button type="button" class="btn btn-vote js-btn-vote-yes">
        <i class="btn-vote-up"></i> Yes
    </button>
    <span class="btn-vote-count">(<span class="js-vote-positive-count">0</span>)</span>
    <button type="button" class="btn btn-vote js-btn-vote-no">
        <i class="btn-vote-down"></i> No
    </button>
    <span class="btn-vote-count">(<span class="js-vote-negative-count">0</span>)</span>
</div>
