        <!--FOOTER CONTAINER-->
        <footer class="footer-top-spacer">
            <div class="container-fluid border-top white-bg">
                <div class="container footer-content">
                    <div class="col-md-6">
                        <div class="footer-logo">
                            <img src="/assets/img/footer-logo.png" />
                        </div>
                        <div class="footer-copyright">
                            Copyright 2016 - {{ 'now' | date: "%Y" }}, Walmart Stores, Inc. All Rights Reserved
                        </div>
                    </div>
                    <!--Footer Social Media Icons-->
                    <div class="col-md-6">
                        <ul class="pull-right top-footer-spacer">

                            <li class="footer-privacy-link hvr-underline-from-left pull-left">
                                <a href="http://corporate.walmart.com/privacy-security/" class="hvr-underline-from-left" target="_blank">
                                    Privacy & Security
                                </a>
                            </li>

                            <li class="footer-privacy-link hvr-underline-from-left footer-link-spacer pull-left">
                                <a href="http://corporate.walmart.com/privacy-security/california-privacy-rights" class="" target="_blank">
                                    California Privacy Rights
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- -END- FOOTER-->
