<!--left sub navigation-->
<nav id="sidenav-general">
  <h2>GENERAL</h2>
  <ul class="nav">
    <li{% if page.url contains "/general/about.html" %} class="active" {% endif %}>
      <a href="/general/about.html">About OneOps</a>
    </li>
<!--
    <li{% if page.url contains "/general/benefits.html" %} class="active" {% endif %}>
      <a href="/general/benefits.html">Benefits</a>
    </li>
    <li{% if page.url contains "/general/integrations.html" %} class="active" {% endif %}>
      <a href="/general/integrations.html">Integrations</a>
    </li>
-->
    <li{% if page.url contains "/general/in-the-press.html" %} class="active" {% endif %}>
      <a href="/general/in-the-press.html">In the Press</a>
    </li>
    <li{% if page.url contains "/general/documentation.html" %} class="active" {% endif %}>
      <a href="/general/documentation.html">Documentation</a>
    </li>
    <li{% if page.url contains "/general/contribute.html" %} class="active" {% endif %}>
      <a href="/general/contribute.html">Contribute</a>
    </li>
  </ul>
</nav>
