<!--NAVIGATION CONTAINER-->
        <nav class="navbar oo-nav-brand navbar-inverse">
            <div class="container-fluid nav-padding">
                <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img class="oo-logo-transition" src="/assets/img/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse oo-nav navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav oo-menu-items navbar-nav navbar-right">
                        {% for link in site.navigation %}
                        {% assign current = nil %}
                        {% if page.url contains link.url %}
                          {% assign current = 'oo-nav-active' %}
                        {% endif %}
                        <li>
                          <a class="{{current}}" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}

                        <!--<li class="oo-navigation-end"><a href="documentation.html">Documentation</a></li>-->


                        <li class="oo-social-list oo-social-start">
                            <a href="https://twitter.com/One_Ops" target="_blank">
                                <i class="icon-twitter oo-social-icons"></i>
                            </a>
                        </li>
                        <li class="oo-social-list">
                            <a href="https://github.com/oneops" target="_blank">
                                <i class="icon-octa-cat oo-social-icons"></i>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-collapse -->
            </div><!-- /.container-fluid -->
        </nav>