            <!--left sub navigation-->
            <nav id="sidenav">
              <h2>DOCUMENTATION</h2>
   
              <ul class="nav">
                <li>
                  <a href="/user/overview/">Overview</a>
                </li>
                <li>
                  <a href="/user/key-concepts/">Key Concepts</a>
                </li>
                <li>
                  <a href="/user/prerequisites/">Prerequisites</a>
                </li>
                <li>
                  <a href="/user/getting-started/">Getting Started</a>
                </li>
                <li>
                  <a onclick="$('#user-typical-usage-scenarios').toggleClass('hidden');">Typical Usage Scenarios
                  <span class="caret"></span></a>
                  <ul id="user-typical-usage-scenarios" class="hidden">
                    <li class="sub-menu-item"><a href="/user/typical-scenarios/#cost-management">Cost Management</a></li>
                    <li class="sub-menu-item"><a href="/user/typical-scenarios/#https-apache-http">Enable HTTPS on Apache HTTP On OneOps</a></li>
                    <li class="sub-menu-item"><a href="/user/typical-scenarios/#https-tomcat">How to enable HTTPS on Tomcat in OneOps</a></li>
                    <li class="sub-menu-item"><a href="/user/typical-scenarios/#website-apache-http">Deploy a Website with Apache HTTP on OneOps</a></li>
                  </ul> 
                </li>
                <li>
                  <a onclick="$('#user-best-practices').toggleClass('hidden');">Best Practices
                  <span class="caret"></span></a>
                  <ul id="user-best-practices" class="hidden">
                    <li class="sub-menu-item"><a href="/user/best-practices/#design-best-practices">Design Best Practices</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#naming-conventions">Naming Conventions</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#operations-best-practices">Operations Best Practices</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#provide-only-necessary-privileges-to-accounts">Provide Only Necessary Privileges to Accounts</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#restrict-access-with-teams">Restrict Access with Teams</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#transition-best-practices">Transition Best Practices</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#use-operations-for-vm-tasks">Use Operations for VM Tasks</a></li>
                    <li class="sub-menu-item"><a href="/user/best-practices/#view-assembly-and-organization-consumption-with-reports">View Assembly and Organization Consumption with Reports</a></li>
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-references').toggleClass('hidden');">References 
                  <span class="caret"></span></a>
                  <ul id="user-references" class="hidden">
                    <li class="sub-menu-item"><a href="/user/references/#actions-reference">Actions</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#attachments">Attachments</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#auto-repair">Auto Repair</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#auto-replace">Auto Replace</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#auto-scale">Auto Scale</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#availability-modes">Availability Modes</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#available-platforms-list">Available Platforms List</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#azure-setup">Azure Setup</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#azure">Azure</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#catalina-out-in-tomcat">catalina.out in Tomcat</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#cloud-providers">Cloud Providers</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#dsl">DSL</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#environment-profiles">Environment Profiles</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#environment">Environment</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#graph-colors">Graph Colors</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#heartbeat-monitors">Heartbeat Monitors</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#load">Load</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#monitoring-reference">Monitoring</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#oneops-policy-management">OneOps Policy Management</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#oneops-urls">OneOps URLs</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#operations-reference">Operations</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#platform-links-reference">Platform Links</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#platform-packs">Platform Packs</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#ports-by-platform">Ports by Platform</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#propagation">Propagation</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#run-actions-in-operations">Run Actions in Operations</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#set-up-multiple-ports-protocols-load-balancer">Set Up Multiple Ports/Protocols in Load Balancer</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#threshold-definitions">Threshold Definitions</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#transition">Transition</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#user-favorite">User Favorite</a></li>
                    <li class="sub-menu-item"><a href="/user/references/#variables">Variables</a></li> 
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-how-to').toggleClass('hidden');">How To 
                  <span class="caret"></span></a>
                  <ul id="user-how-to" class="hidden">
                    {% for link in site.user-how-to %}
                    {% assign current = nil %}
                    {% if page.url contains link.url %}
                      {% assign current = 'active' %}
                    {% endif %}
                    <li class="sub-menu-item {{current}}"><a href="/user/howto/{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a href="/user/tools/">Tools</a>
                </li>
                <li>
                  <a href="/user/testing/">Testing & Debugging</a>
                </li>
                <li>
                  <a href="/user/updates/">Updates</a>
                </li>
                <li>
                  <a href="/user/contribution/">Contribution</a>
                </li>
              </ul>
            </nav>