            <!--left sub navigation-->
            <nav id="sidenav">
              <h2>USER DOCS</h2>
              <ul class="nav">
                <li{% if page.url == "/user/" %} class="active" {% endif %}>
                  <a href="/user/">Overview</a>
                </li>
                <li{% if page.url contains "/user/general/key-concepts" %} class="active" {% endif %}>
                  <a href="/user/general/key-concepts.html">Key Concepts</a>
                </li>
                <li{% if page.url contains "/user/general/getting-started" %} class="active" {% endif %}>
                  <a href="/user/general/getting-started.html">Getting Started</a>
                </li>
                <li>
                  <a onclick="$('#user-account').toggleClass('hidden');">Account
                  <span class="caret"></span></a>
                  <ul id="user-account"{% unless page.url contains "/user/account/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/account/' %} active{% endif %}">
                        <a href="/user/account/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/account/" and currentpage.url != "/user/account/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-design').toggleClass('hidden');">Design
                  <span class="caret"></span></a>
                  <ul id="user-design"{% unless page.url contains "/user/design/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/design/' %} active{% endif %}">
                        <a href="/user/design/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/design/" and currentpage.url != "/user/design/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-transition').toggleClass('hidden');">Transition
                  <span class="caret"></span></a>
                  <ul id="user-transitiont"{% unless page.url contains "/user/transition/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/transition/' %} active{% endif %}">
                        <a href="/user/transition/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/transition/" and currentpage.url != "/user/transition/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-operation').toggleClass('hidden');">Operation
                  <span class="caret"></span></a>
                  <ul id="user-operation"{% unless page.url contains "/user/operation/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/operation/' %} active{% endif %}">
                        <a href="/user/operation/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/operation/" and currentpage.url != "/user/operation/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li><!--  empty spacer list item... --></li>
                <li>
                  <a onclick="$('#user-typical-usage-scenarios').toggleClass('hidden');">Typical Scenarios
                  <span class="caret"></span></a>
                  <ul id="user-typical-usage-scenarios"{% unless page.url contains "/user/typical-scenarios/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/typical-scenarios/' %} active{% endif %}">
                        <a href="/user/typical-scenarios/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/typical-scenarios/" and currentpage.url != "/user/typical-scenarios/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-best-practices').toggleClass('hidden');">Best Practices
                  <span class="caret"></span></a>
                  <ul id="user-best-practices"{% unless page.url contains "/user/best-practices/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/best-practices/' %} active{% endif %}">
                        <a href="/user/best-practices/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/best-practices/" and currentpage.url != "/user/best-practices/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-references').toggleClass('hidden');">References
                  <span class="caret"></span></a>
                  <ul id="user-references"{% unless page.url contains "/user/references/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/references/' %} active{% endif %}">
                        <a href="/user/references/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/references/" and currentpage.url != "/user/references/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li>
                  <a onclick="$('#user-how-to').toggleClass('hidden');">How To
                  <span class="caret"></span></a>
                  <ul id="user-how-to"{% unless page.url contains "/user/howto/" %} class="hidden"{% endunless %}>
                      <li class="sub-menu-item{% if page.url == '/user/howto/' %} active{% endif %}">
                        <a href="/user/howto/index.html">Index</a>
                      </li>
                    {% for currentpage in site.pages %}
                      {% if currentpage.url contains "/user/howto/" and currentpage.url != "/user/howto/" %}
                      <li class="sub-menu-item{% if page.url == currentpage.url %} active{% endif %}">
                        <a href="{{ currentpage.url }}">{{ currentpage.title }}</a>
                       </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
                <li{% if page.url contains "/user/general/testing" %} class="active" {% endif %}>
                  <a href="/user/general/testing.html">Testing & Debugging</a>
                </li>
              </ul>
            </nav>