@font-face {
	font-family: 'oo-icon-pack';
	src: url('oo-icon-pack.eot?m46j3v');
	src: url('oo-icon-pack.eot?m46j3v#iefix') format('embedded-opentype'),
	url('oo-icon-pack.ttf?m46j3v') format('truetype'),
	url('oo-icon-pack.woff?m46j3v') format('woff'),
	url('oo-icon-pack.svg?m46j3v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'oo-icon-pack' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
	content: "\e900";
}
.icon-linked-in:before {
	content: "\e901";
}
.icon-octa-cat:before {
	content: "\e902";
}
.icon-twitter:before {
	content: "\e903";
}
.icon-noun_67460_cc:before {
	content: "\e904";
}
.icon-noun_67558_cc:before {
	content: "\e905";
}
.icon-noun_67565_cc:before {
	content: "\e906";
}
.icon-noun_67758_cc:before {
	content: "\e907";
}
.icon-noun_68025_cc:before {
	content: "\e908";
}
.icon-noun_68039_cc:before {
	content: "\e909";
}
.icon-noun_68054_cc:before {
	content: "\e90a";
}
.icon-noun_68055_cc:before {
	content: "\e90b";
}
.icon-noun_68214_cc:before {
	content: "\e90c";
}
.icon-noun_68220_cc:before {
	content: "\e90d";
}
.icon-noun_68222_cc:before {
	content: "\e90e";
}
.icon-noun_68229_cc:before {
	content: "\e90f";
}
.icon-noun_68236_cc:before {
	content: "\e910";
}
.icon-noun_68266_cc:before {
	content: "\e911";
}
.icon-noun_68352_cc:before {
	content: "\e912";
}
.icon-noun_68389_cc:before {
	content: "\e913";
}
.icon-noun_68394_cc:before {
	content: "\e914";
}
.icon-noun_68512_cc:before {
	content: "\e915";
}
.icon-noun_68737_cc:before {
	content: "\e916";
}
.icon-noun_68790_cc:before {
	content: "\e917";
}
.icon-noun_68887_cc:before {
	content: "\e918";
}
.icon-noun_68913_cc:before {
	content: "\e919";
}
.icon-noun_69008_cc:before {
	content: "\e91a";
}
.icon-noun_69359_cc:before {
	content: "\e91b";
}
.icon-noun_69431_cc:before {
	content: "\e91c";
}
.icon-noun_69644_cc:before {
	content: "\e91d";
}
.icon-noun_69649_cc:before {
	content: "\e91e";
}
.icon-noun_69666_cc:before {
	content: "\e91f";
}
.icon-noun_69669_cc:before {
	content: "\e920";
}
.icon-noun_69672_cc:before {
	content: "\e921";
}
.icon-noun_69699_cc:before {
	content: "\e922";
}
.icon-noun_69701_cc:before {
	content: "\e923";
}
.icon-noun_69709_cc:before {
	content: "\e924";
}
.icon-noun_69721_cc:before {
	content: "\e925";
}
.icon-noun_69759_cc:before {
	content: "\e926";
}
.icon-noun_69810_cc:before {
	content: "\e927";
}
.icon-noun_69871_cc:before {
	content: "\e928";
}
.icon-noun_69903_cc:before {
	content: "\e929";
}
.icon-noun_69905_cc:before {
	content: "\e92a";
}
.icon-noun_69938_cc:before {
	content: "\e92b";
}
.icon-noun_74393_cc:before {
	content: "\e92c";
}
.icon-noun_116191_cc:before {
	content: "\e92d";
}

