/* ------------------------------ CUSTOM PROJECT STYLES ------------------------------ */

/* All custom styles must be placed in this css file or they will risk being overwritten by updates with the base wmt.css file. */
/* cross site nav styling */

/* ------------------------------ HOMEPAGE STYLES ------------------------------ */

.homeBanner {
    background: #2f2951;
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 0px; }

.copyright h3 a {
  opacity: 0.6;
}

.copyright a {
  opacity: 0.6;
}
