/*==========  Mobile First Method  ==========*/

 /*Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

 /*Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

 /*Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .oo-social-list {
        display: inline-block!important;
    }
}

 /*Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /*Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .modal-center  {
        margin-top: 110px;
    }


}

@media only screen and (min-width : 1600px) {
    .modal-center  {
        margin-top: 140px;
    }

}

@media only screen and (min-width : 1900px) {
    .modal-center {
        margin-top: 260px;
    }

    .oo-menu-items {
        margin-right: -380px;
    }

}



/*==========  Non-Mobile First Method  ==========*/


 /*Large Devices, Wide Screens */
@media only screen and (max-width : 1900px) {
    .modal-center  {
        margin-top: 260px;
    }
    .oo-menu-items {
        margin-right: -230px;
    }
}

@media only screen and (max-width : 1800px) {
    .oo-menu-items {
        margin-right: -130px;
    }
}

@media only screen and (max-width : 1700px) {
    .oo-menu-items {
        margin-right: -100px;
    }

}

@media only screen and (max-width : 1600px) {
    .modal-center  {
        margin-top: 140px;
    }
    .oo-menu-items {
        margin-right: -60px;
    }

}


@media only screen and (max-width : 1200px) {
    .modal-center  {
        margin-top: 110px;
    }

    .oo-social-list {
        display: inline-block!important;
    }

    .oo-social-start {
        margin-left: 15px;
    }

    .oo-menu-items {
        margin-right: -20px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }
}

 /*Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .oo-social-list {
        display: inline-block!important;
    }
    .oo-social-start {
        margin-left: 15px;
    }

    .oo-menu-items {
        margin-right: -100px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .hero-headline-one {
        font-size: 44px;
    }

    .headline-one {
        font-size: 44px;
    }

    .oo-social-list {
        margin-left: 15px;
        display: inline-block!important;
    }

    .oo-social-start {
        margin-left: 15px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }

    .oo-menu-items {
        margin-right: -25px;
    }

    .nav>li>a {
        padding: 0 8px;
    }
    .navbar-nav>li {
        padding-bottom: 8px;
        padding-top: 9px;
        margin-top: 3px;
    }

    .oo-social-icons {
        font-size: 20px;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: 17px;
    }

    .hero-info {
        margin-top: 160px;
    }

    .partners-narrow-border {
        margin-left: -21px;
        margin-right: -21px;
    }

    .partners-narrow-border-last {
        margin-left: -21px;
        margin-right: -21px;
    }

    .profile-section-about {
        width: 100%;
        text-align: center;
    }

    .leader-description {
        width: 100%;
        text-align: center;
        padding: 0 90px 0 90px;
    }

    .wec-profile-container-about {
        margin-left: 105%;
    }

    .events-container {
        padding: 0 120px 0 120px;
    }
}

 /*Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .headline-one {
         font-size: 30px;
     }

    .hero-headline-one {
         font-size: 30px;
     }

    .oo-social-list {
        margin-left: 15px;
        display: inline-block!important;
    }

    .oo-social-start {
        margin-left: 15px;
    }

    input.email-field, select.selectpicker {
        width: 240px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }
}

 /*Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .hero-headline-one {
        font-size: 24px;
    }

    .headline-one {
        font-size: 24px;
    }
    .oo-social-list {
        margin-left: 15px;
        display: inline-block!important;
    }

    .oo-social-start {
        margin-left: 15px;
    }

    input.email-field, select.selectpicker {
        width: 240px;
    }

    .profile-section {
        text-align: center;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }
}


/*Partners - Specific Media Queries*/
@media only screen and (max-width : 8000px) and (min-width : 1800px) {
    .full-device-hide {
        display: none;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }
}

@media only screen and (max-width : 1800px) and (min-width : 1700px) {
    .full-device-hide {
        display: none;
    }
}

@media only screen and (max-width : 1700px) and (min-width : 1600px) {
    .full-device-hide {
        display: none;
    }
}


@media only screen and (max-width : 1600px) and (min-width : 1500px) {
    .full-device-hide {
        display: none;
    }
}


@media only screen and (max-width : 1500px) and (min-width : 1400px) {
    .full-device-hide {
        display: none;
    }
}

@media only screen and (max-width : 1300px) and (min-width : 1200px) {
    .full-device-hide {
        display: none;
    }
}

@media only screen and (max-width : 1200px) and (min-width : 1000px) {
    .full-device-hide {
        display: none;
    }
}

@media only screen and (max-width : 1000px) and (min-width : 900px) {
    .full-device-hide {
        display: none;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }

    .leadership-image {
        width: 300px;
        height: auto;
    }

    .press-content-image {
        width: 220px;
    }
}

@media only screen and (max-width : 900px) and (min-width : 800px) {

    .full-device-hide {
        display: none;
    }

    .hero-headline-one {
        font-size: 32px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }

    .leadership-image {
        width: 300px;
        height: auto;
    }

    .press-content-image {
        width: 220px;
    }
}

@media only screen and (max-width : 800px) and (min-width : 700px) {

    .hero-headline-one {
        font-size: 32px;
    }

    .narrow-device-hide {
        display: none;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }

    .leadership-image {
        width: 300px;
        height: auto;
    }

    .press-content-image {
        width: 220px;
    }
}

@media only screen and (max-width : 700px) and (min-width : 600px) {
    .narrow-device-hide {
        display: none;
    }

    .hero-headline-one {
        font-size: 30px;
    }

    .col-md-6.leadership-container {
        min-height: 320px;
    }

    .leadership-image {
        width: 300px;
        height: auto;
    }

    .press-content-image {
        width: 220px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 600px) and (min-width : 500px) {
    .narrow-device-hide {
        display: none;
    }

    .hero-headline-one {
        font-size: 26px;
    }

    .hero-headline-one {
        font-size: 26px;
    }

    .press-content-image {
        width: 220px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 500px) and (min-width : 400px) {

    .select-option,
    select.selectpicker {
        background: url('../img/select-drop-down.png') no-repeat right #e6e6e6;
        background-position: 211px;
        width: 240px;
    }

    .narrow-device-hide {
        display: none;
    }

    .press-content-image {
        width: 220px;
    }

    .headline-one {
        font-size: 24px;
    }

    .hero-headline-one {
        font-size: 24px;
    }

    .headline-two {
        font-size: 24px;
    }

    .ti-img-chev {
        margin-top: -3px;
        margin-left: 6px;
        width: 10px;
        height: 14px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }


    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 400px) and (min-width : 300px) {

    .select-option,
    select.selectpicker {
        background: url('../img/select-drop-down.png') no-repeat right #e6e6e6;
        background-position: 211px;
        width: 240px;
    }

    .narrow-device-hide {
        display: none;
    }

    .profile-section {
        text-align: center;
    }

    .leadership-image {
        -webkit-transform: translate(24%);
        -ms-transform: translate(24%);
        -moz-transform: translate(24%);
        -o-transform: translate(24%);
        transform: translate(24%);
    }

    .leader-description {
        text-align: center;
    }

    .press-content-image {
        width: 220px;
    }

    .headline-one {
        font-size: 24px;
    }

    .hero-headline-one {
        font-size: 26px;
    }

    .hero-info {
        margin-top: 120px;
    }

    .headline-two {
        font-size: 24px;
    }

    .ti-img-chev {
        margin-top: -3px;
        margin-left: 6px;
        width: 10px;
        height: 14px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-about, .wec-quotes {
        padding: 0 0 0 30px;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .wec-about:before,
    .wec-quotes:before {
        margin-left: -46px;
    }

    .wec-about:after,
    .wec-quotes:after {
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 300px) and (min-width : 200px) {

    .select-option,
    select.selectpicker {
        background: url('../img/select-drop-down.png') no-repeat right #e6e6e6;
        background-position: 211px;
        width: 240px;
    }

    .narrow-device-hide {
        display: none;
    }

    .profile-section {
        text-align: center;
    }

    .leader-description {
        text-align: center;
    }

    .leadership-image {
        -webkit-transform: translate(39%);
        -moz-transform: translate(39%);
        -ms-transform: translate(39%);
        -o-transform: translate(39%);
        transform: translate(39%);
    }

    .leader-description {
        text-align: center;
    }

    .press-content-image {
        width: 220px;
    }

    .hero-headline-one {
        font-size: 24px;
    }

    .headline-one {
        font-size: 24px;
    }

    .headline-two {
        font-size: 24px;
    }

    .ti-img-chev {
        margin-top: -3px;
        margin-left: 6px;
        width: 10px;
        height: 14px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-about, .wec-quotes {
        padding: 0 0 0 30px;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .wec-about:before,
    .wec-quotes:before {
        margin-left: -46px;
    }

    .wec-about:after,
    .wec-quotes:after {
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 200px) and (min-width : 100px) {

    .select-option,
    select.selectpicker {
        background: url('../img/select-drop-down.png') no-repeat right #e6e6e6;
        background-position: 211px;
        width: 240px;
    }

    .narrow-device-hide {
        display: none;
    }

    .profile-section {
        text-align: center;
    }

    .leadership-image {
        -webkit-transform: translate(39%);
        -moz-transform: translate(39%);
        -ms-transform: translate(39%);
        -o-transform: translate(39%);
        transform: translate(39%);
    }

    .leader-description {
        text-align: center;
    }

    .press-content-image {
        width: 220px;
    }

    .hero-headline-one {
        font-size: 24px;
    }

    .headline-one {
        font-size: 24px;
    }

    .headline-two {
        font-size: 24px;
    }

    .ti-img-chev {
        margin-top: -3px;
        margin-left: 6px;
        width: 10px;
        height: 14px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-about, .wec-quotes {
        padding: 0 0 0 30px;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .wec-about:before,
    .wec-quotes:before {
        margin-left: -46px;
    }

    .wec-about:after,
    .wec-quotes:after {
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}

@media only screen and (max-width : 100px) and (min-width : 1px) {
    .select-option,
    select.selectpicker {
        background: url('../img/select-drop-down.png') no-repeat right #e6e6e6;
        background-position: 211px;
        width: 240px;
    }

    .narrow-device-hide {
        display: none;
    }

    .profile-section {
        text-align: center;
    }

    .leadership-image {
        -webkit-transform: translate(39%);
        -moz-transform: translate(39%);
        -ms-transform: translate(39%);
        -o-transform: translate(39%);
        transform: translate(39%);
    }

    .leader-description {
        text-align: center;
    }

    .press-content-image {
        width: 220px;
    }

    .headline-two {
        font-size: 24px;
    }

    .ti-img-chev {
        margin-top: -3px;
        margin-left: 6px;
        width: 10px;
        height: 14px;
    }

    .ti-description, .benefits-description {
        margin: 20px 0 0;
    }

    nav.shrink .navbar-toggle {
        padding: 6px 7px;
        margin: 6px 0 8px 0;
    }

    img.oo-logo-transition.shrink {
        width: 130px;
        margin-top: -2px;
        margin-left: -17px;
    }

    .wec-about, .wec-quotes {
        padding: 0 0 0 30px;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .wec-about:before,
    .wec-quotes:before {
        margin-left: -46px;
    }

    .wec-about:after,
    .wec-quotes:after {
    }

    .wec-profile-container {
        margin-left: 0;
    }

    .profile-information {
        margin: 0;
    }
}
