/* A copy of select styles from main.css to be used within the docs look and feel. */
/* main.css interferes too much and will be removed at some stage */
/* also adding new styles here */

.blogtitle {
  font-size: 30px;
  padding-bottom: 15px;
  font-weight: bolder;
}

.white {color: #ffffff}
.white-bg {background-color: #ffffff}
.black {color: #000000}
.black-bg {background-color: #000000}
.yellow {color: #fcb813}
.yellow-bg {background-color: #fcb813}
.blue {color: #1992d0}
.blue-bg {background-color: #1992d0}
.grey {color: #f5f5f5}
.grey-bg {background-color: #f5f5f5}

.center-text {text-align: center;}

.headline-one {font-size: 48px}
.headline-two {font-size: 28px;}

.headline-one,
.headline-two,
.headline-benefits {
    font-family: 'Flexo W01 Regular','flexomedium', Arial, sans-serif;
    text-rendering: geometricPrecision;
    line-height: 1.2;
    text-transform: uppercase;
}
.hero-headline-one {
    font-family: 'Flexo W01 Regular','flexomedium', Arial, sans-serif;
    text-rendering: geometricPrecision;
    line-height: 1.2;
    font-size: 48px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

.about-hero-unit {
    background-image: url('/assets/img/hero/about/about.jpg');
    height: 370px;
}

.hero-info {
    text-align: center;
    width: 100%;
    z-index: 1;
}

.documentation-hero-unit {
    background-size: cover;
    background-color: #EEEEEE;
    background-image: url('/assets/img/hero/documents/documents.jpg');
    height: 370px;
}
.oo-content-icons {
    font-size: 120px;
    padding-bottom: -145px;
    margin-bottom: -35px;
    display: block;
}
.ti-image {padding-bottom: 30px;}

.contribute-hero-unit {
    background-image: url('/assets/img/hero/contribute/contribute.jpg');
    height: 370px;
}

.footer-element {
  border-top: 1px #dddddd solid;
  padding-top: 30px;
  background-color: #ffffff;
}
.footer-link-spacer {
    margin-right: 20px;
}

.footer-privacy-link {
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #007cc2;
    margin-top: 4px;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -o-: translateZ(0);
    -ms-: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fec234;
    height: 3px;
    -webkit-transition-property: right;
    -moz-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


