/**
 * Walmartlabs theme for presentations.
 * By Alison Loney
 *
 * Based on the White theme for reveal.js.
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/bogle/bogle.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff;
  margin-top: 10px; }

.darkBlue {
  color: #2f2951; }

.brightBlue {
  color: #0cb0f3; }

.pink {
  color: #da52d5; }

.yellow {
  color: #ffc220; }

.green {
  color: #5bc778; }

#header-left {
  position: absolute;
  top: 0%;
  left: 0%; }

#header-right {
  position: absolute;
  top: 0%;
  right: 0%; }

#footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #2f2951;
  /* Dark Blue */
  width: 100%;
  height: 50px; }

#footer-logo {
  height: 30px;
  margin-top: 12px;
  margin-right: 20px; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Bogle", Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #555555; }

::selection {
  color: #fff;
  background: #f0bbef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #f0bbef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #3f3481;
  font-family: "Bogle", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.3em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: absolute;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #da52d5;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #e37cdf;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b827b3; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #2f2951;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #da52d5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #da52d5; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #da52d5; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #da52d5; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #da52d5; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #e37cdf; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #e37cdf; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #e37cdf; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #e37cdf; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #da52d5;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 20px 0px; }

/*********************************************
* FONT ALIGNMENT STYLES
*********************************************/
.reveal .slides {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  padding: 10px 20px;
  margin: auto;
  /*margin-top: 0;*/
  overflow: visible;
  z-index: 1;
  text-align: left;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-perspective-origin: 50% 40%;
  perspective-origin: 50% 40%; }

/*********************************************
* SECTION SPECIFIC STYLES
*********************************************/
.reveal section.title-slide h1 {
  color: #ffffff;
  padding-top: 2.5em; }

.reveal section.title-slide p,
.reveal section.slide-first p,
.reveal section.title-slide h2,
.reveal section.slide-first h2,
.reveal section.title-slide h3,
.reveal section.slide-first h3 {
  color: #ffffff; }

.reveal section.slide-first img, .reveal section.title-slide img, .reveal section.slide-final img {
  margin: auto;
  display: block;
  background: none;
  border: 0px solid white;
  box-shadow: none; }

.reveal section.slide-first a img {
  padding-top: 150px;
  max-width: 70%; }

.reveal section.slide-first a:hover img {
  background: none;
  border-color: none;
  box-shadow: none; }

.reveal section.slide-first img {
  padding-top: 300px;
  max-width: 60%; }

.reveal section.title-slide img {
  float: right;
  padding-top: 20px;
  max-width: 60%; }

.reveal section.slide-final img {
  padding-top: 50px;
  max-width: 40%; }

/*********************************************
* BLOCKQUOTE STYLES
*********************************************/
.reveal blockquote {
  display: block;
  position: absolute;
  width: 70%;
  margin: 20px auto;
  padding: 10px;
  color: white;
  font-style: italic;
  text-align: center;
  background: #0cb0f3;
  border-radius: 10px 10px 10px 10px;
  box-shadow: none; }

/*********************************************
* IMAGES
*********************************************/
.reveal section img {
  margin: 15px 0px;
  background: none;
  border: none;
  box-shadow: none; }

/*********************************************
* NAVIGATION CONTROLS
*********************************************/
.reveal .controls {
  display: none;
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 30;
  right: 10px;
  bottom: 60px;
  -webkit-user-select: none; }

/*********************************************
* SLIDE NUMBER
*********************************************/
.reveal .slide-number {
  left: 0%;
  width: 50px;
  height: 37px;
  background-color: #ffc220;
  text-align: center;
  line-height: 37px;
  font-size: 0.4em;
  margin-left: 10px;
  margin-bottom: 8px;
  color: #2f2951;
  margin-bottom: 0px;
  bottom: 3px; }

.reveal .slide-number-delimiter {
  margin: 0 3px; }
