    <div class="stickyFooter">

      <div class="copyright">
        <div class="container">
          {% if site.custom-footer == true %}
            {% include custom-footer.html %}
          {% endif %}
          <div class="row margin-bottom-30">
            <div class="col-md-8">
              <p class="copyright-space">
                2011 - {{ 'now' | date: "%Y" }} &copy;
                Walmart Inc. All Rights Reserved.
              </p>
              <p>
                <a href="{{site.source_url}}" target="_blank">Contribute to the site</a>.
              </p>
            </div>
            <div class="col-md-4">
              <img src="{{site.context}}/assets/wmt/img/logos/walmart-labs-wht.png" class="img-responsive" width="150px" align="right" style="padding-top:10px;"/>
            </div>
          </div>
        </div>
      </div>
    </div>
