<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>OneOps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{site.context}}/assets/img/favicon.png" type="image/x-icon">
        <link rel="apple-touch-icon" href="">
        <link rel="stylesheet" href="{{site.context}}/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="{{site.context}}/assets/font/webfontkit-flexo/flexo.css">
        <link rel="stylesheet" href="{{site.context}}/assets/font/oo-icon-pack/oo-icon-pack.css">
        <link rel="stylesheet" href="{{site.context}}/assets/css/main.css">
       <!--  <link rel="stylesheet" href="{{site.context}}/assets/css/device.css"> -->

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="{{site.context}}/assets/js/vendor/bootstrap.min.js"></script>
        <!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% include header.html %}

        <!-- PAGE CONTENT HERE -->
        {{content}}
        <!-- END PAGE CONTENT -->

        {% include footer.html %}

        <script src="{{site.context}}/assets/js/main.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72734811-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>
