{% include doc-head.html %}

  <body class="products">
    <div id="holder" class="mainholder">
      
      {% include doc-header.html %}
      
      <!--CONTENT with sidebar left-->
      <section id="onebar" class="leftbar">
        <!--CONTENT right-->
        <section id="rightpage">
          <article id="{{ page.title }}" class="reference">
           {% include breadcrumbs.html %}
           <h1 class="primary">{{page.title}}</h1>
           
           {{ content }}

          </article>
        </section><!-- END rightpage -->
        
        <!--CONTENT left sidebar-->
        <aside>
          <div id="nav-container">
            <!--<article id="page-search">
              <h4>Search</h4>
              <input data-name="search" data-search-types="section" data-search-name="{{ site.searchname }}{{ context }}" type="text" value="Search" class="side-nav-search-input"/>
            </article>-->
            {% include dev-navigation.html %}
            {% include contact.html %}
          </div><!-- END nav-container -->
        </aside>
      </section><!-- END onebar -->
    {% include doc-footer.html %}
    </div><!-- END holder -->

  </body>
</html>	
