@charset "UTF-8";
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=52120a9f-ff18-4080-87b8-84bd26da1f7d");

/* Created by Pixelzoo: www.pixelzoo.co.za */
/* Generic Styles*/
html, body {
  height: 100%; }

body, p, li, a, input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 1.7em;
  font-size: 14px;
  list-style-position: inside;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

h1:hover, h2:hover, h3:hover, h4:hover {cursor:pointer}

/* auto media:  */
video {
  height: 100%; }

iframe {
  width: 100%; }

img {
  width: auto;
  max-width: 100%; }

h1 {
  font-size: 20px;
  margin-bottom: 0.7em; }

h1 a {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: 500; }

h1 a:hover {
  color: #000000;
  text-decoration: none; }

h2 {
  font-size: 14px;
  margin-bottom: 0.5em; }

h2 a {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500; }
  
h2 a:hover {
  color: #000000;
  text-decoration: none; }

h3, h3 a {
  font-size: 16px;
  margin-bottom: 0.5em; }

h4, h4 a {
  font-size: 12px;
  text-transform: uppercase; }

b {
  font-weight: 500; }

a {
  color: #108ac0; }

.blue {
  color: #108ac0; }

.dark {
  color: #133d57; }

.yellow {
  color: #fdb728; }

.light {
  color: #8fd3f4; }

.green {
  color: #05993b; }

.orange {
  color: #f75000; }

/* Structure ---------------------------------------------------------- */
/* Structure */
#holder {
  max-width: 1116px;
  margin: 0 auto;
  width: 1116px; }

.mainholder {
  min-width: 960px;
  background: #faf9f7; }

.products .mainholder {
  background: #faf9f7 url(../images/bg.png) repeat-y scroll 214px 0; }

/* Structure: header nav and top */
#page-head {
  max-height: 50px;
  background: #000000;
  overflow: hidden;
  padding-bottom: 3px; }

#logo {
  margin: auto 0;
  float: left;
  margin: 1em 2em 0 2em; }

.oneopsl {
  width: 180px;
  margin-top: -10px;
  margin-left: -4px;
}

nav#topnav {
  width: auto;
  margin: 12px 0 0 0; }

nav#topnav ul {
  list-style: none;
  margin-bottom: 4px; }

nav#topnav ul li {
  display: inline;
  line-height: 1.7em;
  height: 50px;
  color: #7abfff; }

nav#topnav ul li a {
  text-decoration: none;
  margin: 0 0.8em;
  font-family: "Flexo W01 Regular", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 10px;
}

nav#topnav ul li .active, nav#topnav ul li a:hover {
  color: #FDB728;
  border-bottom: 3px solid #DB5700;
  padding-bottom: 9px; }

#page-image.high {
  height: 260px; }

#page-image.short {
  height: 160px; }

#page-image h1 {
  color: #fff;
  font-size: 44px;
  padding: 115px 0 0 60px;
  text-transform: uppercase; }

#page-image.high h1 {
  text-transform: none;
  padding: 60px 0 0 60px; }

#page-image p {
  color: #fff;
  padding: 1em 0 0 60px;
  width: 400px; }

/* Structure: no bar */
#nobar {
  clear: both;
  padding: 0 20px 0 50px; }

#nobar article {
  float: left;
  padding: 1em; }

/* Structure: one bar on right */
#onebar {
  clear: both;
  padding: 0 20px 0 50px; }

#onebar article {
  padding: 1em; }

#onebar #leftpage {
  width: 65%;
  float: left; }

#onebar.rightbar aside {
  width: 30%;
  float: right;
  color: #f9f8f6; }

#onebar.rightbar aside .notebox {
  background: #2774ba url(../images/icon_star_light.png) no-repeat 150px center;
  margin-bottom: 30px; }

#onebar.rightbar aside .newsbox {
  background: #394145;
  margin-bottom: 30px; }

#onebar.rightbar aside .infobox {
  background: #f2f1ed;
  color: #4c4c4c;
  margin-bottom: 30px; }

/* Structure: one bar on left */
#onebar.leftbar {
  clear: both;
  padding: 0;
  height: 100%; }

#onebar #rightpage {
  background: #fff none repeat scroll 0 0;
  float: right;
  min-height: 1020px;
  width: 80%; }

#rightpage article {
  padding: 1em 2em; }

#onebar.leftbar aside {
  border-right: 1px solid #fff;
  float: left;
  height: 100%;
  width: 20%; }

#onebar.leftbar.wide #rightpage {
  width: 70%; }

#onebar.leftbar.wide aside {
  width: 30%; }

/* Structure: footer */
.spacer {
  clear: both;
  height: 50px;
  width: 100%; }

#page-foot {
  clear: both;
  background: #10ace8 url(../images/icon_star.png) no-repeat right 55px;
  height: 0px;
  /* change to 200px */ }

footer p, footer a {
  font-size: 9px;
  text-align: center;
  padding: 0; }

footer h2 {
  color: #fff;
  font-size: 32px;
  padding: 35px 0 100px 60px; }

/* Content Types - Layout & Styles ---------------------------------------------------------- */
/* Styles - Misc  */
.corpus-search-results {
  z-index: 100;
  margin: 0;
  margin-top: -1px;
  padding: 1.7em;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 190px; }

.corpus-search-results h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.7em;
  color: #777; }

.corpus-search-results h2 p:last-child {
  border-bottom: #ddd solid 1px;
  margin-bottom: 1.4em;
  padding-bottom: 1em; }

.corpus-search-results h2 a {
  font-size: 12px;
  text-transform: none;
  margin-bottom: 0.2em;
  padding-left: 0.8em; }

.corpus-search-results .search-indent {
  padding-left: 1.5em; }

.corpus-code {
  display: none; }

h1:hover .corpus-hash-link {
  opacity: 1;
}

h2:hover .corpus-hash-link {
  opacity: 1;
}

h3:hover.corpus-hash-link {
  opacity: 1;
}

a.corpus-hash-link {
  color: #999;
  opacity: 0;
  -webkit-transition: all 100ms ease-out 0.2s;
  -moz-transition: all 100ms ease-out 0.2s;
  -o-transition: all 100ms ease-out 0.2s;
  transition: all 100ms ease-out 0.2s;
}

.side-nav-view-code:hover {
  cursor: pointer; }

.global-search {
  position: absolute !important;
  top: 19px; }

.side-nav-search-input {
  width: 195px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  padding: 3px 5px 3px 7px;
}

.global-search-input {
  position: absolute;
  top: -6px;
  padding-left: 20px;
  height: 30px;
  border: 1px solid #ffffff;
  outline: none;
  opacity: 0;
  width: 0; }

.global-search > .corpus-search-results {
  top: 23px;
  width: 400px;
  position: absolute; }

.global-search .corpus-search-results a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300 !important;
  color: #108ac0 !important; }

.global-search .corpus-search-results a:hover {
  color: #23527c !important; }

#topnav .global-search {
  height: 20px;
  margin-left: 570px;
  margin-top: -3px;
  position: absolute; }

#topnav .global-search input {
  width: 250px;
  height: 25px;
  border: 0 none;
  font-size: 14px;
  padding: 3px 3px 3px 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border-radius: 4px;
}

#topnav .global-search .corpus-search-results {
  background: #ffffff;
  margin: 0;
  position: absolute;
  width: 400px;
  color: #4d4d4d;
  margin-top: -4px; }

.gsi {
  position: absolute;
  left: 3px;
  top: -5px;
  z-index: 1;
  color: #FFF;
  padding-left: 1px;
  -mos-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.gsi:hover {
  cursor: pointer; }

.divider {
  height: 1px;
  border-bottom: solid 1px #ddd;
  margin: 10px 0;
  clear: both; }

hr {
  height: 1px;
  background: #ddd;
  border: none;
  margin: 20px 0; }

.caption {
  font-size: 0.9em;
  text-align: center;
  padding: 0 1em; }

.button a, .togglebut {
  clear: both;
  background: #108ac0;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  line-height: 2em;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px; }

.togglebut:hover, .togglebut:focus {
  background: #f75000;
  color: #fff;
  outline: none; }

.button a.orange {
  background: #f75000;
  color: #fff; }

.tag a {
  clear: both;
  background: #108ac0;
  padding: 2px 4px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 500;
  line-height: 2em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.more a {
  color: #108ac0;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase; }

.sublogo img {
  margin: 1em 0; }

/* Styles: notebox in onebar-right */
.notebox h1 {
  color: #f9f8f6; }

.notebox p {
  color: #f9f8f6; }

.notebox a {
  color: #fdb728;
  font-weight: 500;
  text-decoration: none; }

/* Styles: newsbox in onebar-right */
#onebar .newsbox article {
  padding: 0 1em; }

.newsbox h1 {
  color: #f9f8f6;
  padding: 0.7em;
  margin: 0; }

.newsbox h2 {
  color: #8fd3f4;
  text-transform: uppercase;
  font-size: 12px; }

.newsbox h3 {
  color: #fdb728; }

.newsbox h3 .product-version {
  color: #e4ecf0;
  line-height: 1.7em;
  font-size: 14px;
  float: right; }

.newsbox p {
  color: #f9f8f6; }

.newsbox a {
  color: #f9f8f6;
  font-weight: 500;
  text-decoration: none; }

.newsbox .more a {
  color: #8fd3f4; }

.newsbox .divider {
  border-bottom: solid 1px #666; }

/* Styles: infobox in onebar-right */
.infobox h1 {
  clear: both; }

.infobox .row h1 {
  width: 60%;
  float: left;
  padding: 0;
  margin: 0;
  padding-bottom: 0.7em; }

.infobox .row {
  clear: both; }

.infobox .row h2 {
  color: #108ac0;
  width: 60%;
  float: left; }

.infobox .row h4 {
  color: #4d4d4d;
  width: 35%;
  float: right;
  font-weight: 300;
  text-align: right;
  clear: right; }

.infobox h3 {
  color: #108ac0; }

.infobox h4 {
  color: #4d4d4d; }

.infobox p {
  clear: both; }

.infobox a, .infobox .more {
  color: #108ac0; }

/* Styles: menu and headings onebar-left */
.leftbar aside h1 {
  color: #4d4d4d;
  margin-bottom: 0; }

.leftbar aside h2 {
  color: #000;
  text-transform: uppercase;
  font-size: 12px; }

.leftbar aside h3 a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 500; }

.leftbar aside h4 {
  color: #8F8F8F;
  text-transform: uppercase;
  font-size: 12px;
  -mos-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Flexo W01 Regular", sans-serif;
  font-weight: 600;
}

/* Styles: subnav collapsible on onebar-left */
#sidenav {
  width: 222px; }

#nav-container {
  min-width: 222px; }

#nav-container.affix {
  min-width: 222px; }

#nav-container h2 {
  padding: 0 1em; }

#nav-container li a {
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer; }

#nav-container .nav > li > a {
  padding: 0.4em 1em; }

#nav-container ul ul li a {
  font-weight: 300; }

#nav-container ul ul li {
  margin-left: 0;
  padding: 0.3em 1em 0.3em 1.5em; }

#nav-container ul ul ul li {
  padding-left: 0 }

#nav-container ul ul ul li a {
  margin-left: 1.9em;
  font-weight: 300;
  font-style: italic;
  font-size: 0.9em; }

#nav-container li a:hover, #nav-container li a:focus, .opened {
  background: #E7EDF0 url(../images/subnav_bg.png) right center no-repeat;
  font-weight: 500; }

/* active hovers + subnav overides  */
#nav-container ul ul li a:hover, #nav-container ul ul li a:focus, #nav-container li.active ul li a:hover {
  background: none;
  font-weight: 500; }

#nav-container ul ul li:hover, #nav-container ul ul li:focus {
  background: #e4ecf0; }

#nav-container ul ul ul li:hover, #nav-container ul ul ul li:focus {
  background: none; }

#nav-container li.active {
  background: #FDB728 url(../images/subnav_bg.png) right center no-repeat; }

#nav-container li.active a {
  font-weight: 500;
  color: #000;
}

#nav-container li.active ul li a {
  font-weight: 300;  }

/* Styles: general side bar in twobar-right Results Panel */
#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-right: 30%; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: -400px;
  width: 371px;
  height: 100%;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 30%; }

#menu-toggle.toggleon {
  /* for close button */ }

#sidebar-wrapper {
  background: #394145; }

#sidebar-wrapper article {
  padding: 1em; }

#sidebar-wrapper p {
  color: #f9f8f6; }

#sidebar-wrapper h2 {
  color: #f9f8f6;
  text-transform: none; }

#sidebar-wrapper h3 {
  color: #fdb728; }

#sidebar-wrapper .divider {
  border-bottom: solid 1px #666; }

/* -- */
/* Content Layouts:  Intro text page */
.intro p, p.intro {
  font-size: 20px; }

#release-select-container select {
  width: 100%;
  height: 2.1em;
  border: 1px solid #ccc;
  margin: 0 0 -25px 0;
  font-size: 14px;
  padding-left: 0;
  color: #4d4d4d;
  background: #FFF;
}

#page-search {
  margin-top: -10px;
}

/* Content Layouts:  list boxes for (leftpage content) */
.list-row, .list-row-header {
  width: 100%; }

.list-row-header div {
  float: left;
  min-height: 30px;
  margin-bottom: 15px;
  background: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

.list-row div {
  float: left;
  height: 40px;
  margin-bottom: 15px;
  background: #fff;
  overflow: hidden; }

.list-col1 {
  clear: both;
  text-align: left;
  width: 35%;
  border-left: 2px solid #ccc;
  margin-left: -2px;
  border-radius: 7px 0 0 7px;
  -moz-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 7px 0 0 7px; }

.list-col2 {
  text-align: left;
  width: 50%;
  background: #fff; }

.list-col3 {
  text-align: right;
  width: 15%;
  border-radius: 0 7px 7px 0;
  -moz-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 7px 7px 0; }

.list-row div p {
  padding: 10px; }

.list-row div.list-col1 p {
  padding: 5px 10px; }

.list-row div a {
  color: #108ac0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  margin-top: -5px; }

.list-row-header div p {
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase; }

.list-row-header div a {
  text-decoration: none;
  font-size: 10px;
  color: #4d4d4d; }

/* Content layout: for nobar half page */
.bg-grey, .bg-blue {
  clear: both;
  float: left;
  width: 100%;
  padding-top: 1em; }

.bg-grey {
  background: #f2f1ed; }

.bg-blue {
  background: #007ecc;
  color: #fff;
  padding: 1em 0; }

.bg-grey article {
  width: 500px; }

.half article {
  width: 45%;
  float: left; }

.half h2, .bg-grey h2 {
  color: #133d57;
  font-size: 20px;
  padding: 0 0.7em; }

.bg-blue h2 {
  font-size: 20px;
  padding: 0 0.7em; }

.half p.dark {
  color: #108ac0;
  font-size: 16px;
  margin-bottom: 0.7em; }

.half h4, .half h4 a {
  color: #108ac0;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  font-weight: 300; }

.half .details span, .half .bio span {
  float: right; }

.half .bio h4 {
  color: #007ecc;
  margin-left: 150px; }

.half .bio h3 {
  color: #ff8333;
  font-weight: 300;
  font-size: 14px;
  margin-left: 150px; }

.half .bio p {
  margin-left: 150px; }

.half .biopic {
  float: left;
  padding-right: 20px; }

.half .biopic img {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; }

/* Content Layouts:  Main text - for one bar (rightpage content)*/
#rightpage p, #nobar p {
  padding-bottom: 1em; }

#rightpage ul, #nobar ul {
  /*padding-bottom: 1em;*/
}

#rightpage ul li, #nobar ul li {
  list-style: inside disc;
  padding-left: 15px;
}

#rightpage ul li a {
  text-decoration: none; }

#rightpage ul ul, #nobar ul ul {
  list-style: inside disc;
  margin-left: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#rightpage ul li li, #nobar ul li li {
  list-style: inside circle;
  padding-left: 15px;
}

/* Content Layouts:  News / events page- for onebar (rightpage content)*/
.news {
  clear: both; }

#rightpage .news h1 {
  font-size: 24px;
  color: #108ac0;
  margin-bottom: 0.5em; }

#rightpage .news h2 {
  color: #fdb728;
  text-transform: uppercase; }

#rightpage .news h2 span {
  color: #d6d6d6; }

#rightpage .actions a {
  text-decoration: none;
  text-transform: uppercase; }

#rightpage .but_outlook a, #rightpage .but_contact a {
  font-size: 11px;
  font-weight: 500;
  line-height: 2em;
  color: #108ac0; }

/* Content Layouts:  Media thumbnails (rightpage content)*/
#mediathumbs {
  float: left;
  margin: 0.5em;
  width: 160px; }

#mediathumbs img {
  height: 90px;
  width: 160px; }

#mediathumbs a {
  display: block;
  text-decoration: none;
  text-align: center; }

#imagethumbs {
  text-align: center;
  margin: 0.5em; }

#imagethumbs img {
  height: 300px;
  max-width: 180px;
  padding-bottom: 1em; }

#rightpage #imagethumbs {
  width: 180px;
  float: right;
  padding-left: 20px; }

.bg-grey #imagethumbs {
  max-height: 300px;
  float: right; }

.bg-blue #imagethumbs img {
  max-height: 270px;
  padding: 0.5em; }

/* Content Layouts:  blockquote (rightpage content)*/
blockquote {
  border-left: 2px solid #f75000;
  padding-left: 0.5em; }

blockquote:before {
  padding-right: 0.5em;
  content: "NOTE: ";
  color: #f75000;
  font-weight: 500;
  text-transform: uppercase; }

/* -- */
.hll {
  background-color: #ffffcc; }

.c {
  color: #408080;
  font-style: italic; }

/* Comment */
.err {
  border: 1px solid #FF0000; }

/* Error */
.k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
.o {
  color: #666666; }

/* Operator */
.cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #BC7A00; }

/* Comment.Preproc */
.c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
.gd {
  color: #A00000; }

/* Generic.Deleted */
.ge {
  font-style: italic; }

/* Generic.Emph */
.gr {
  color: #FF0000; }

/* Generic.Error */
.gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.gi {
  color: #00A000; }

/* Generic.Inserted */
.go {
  color: #888888; }

/* Generic.Output */
.gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.gt {
  color: #0044DD; }

/* Generic.Traceback */
.kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
.kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
.kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
.kp {
  color: #008000; }

/* Keyword.Pseudo */
.kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
.kt {
  color: #B00040; }

/* Keyword.Type */
.m {
  color: #666666; }

/* Literal.Number */
.s {
  color: #BA2121; }

/* Literal.String */
.na {
  color: #7D9029; }

/* Name.Attribute */
.nb {
  color: #008000; }

/* Name.Builtin */
.nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
.no {
  color: #880000; }

/* Name.Constant */
.nd {
  color: #AA22FF; }

/* Name.Decorator */
.ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
.ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
.nf {
  color: #0000FF; }

/* Name.Function */
.nl {
  color: #A0A000; }

/* Name.Label */
.nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
.nt {
  color: #008000;
  font-weight: bold; }

/* Name.Tag */
.nv {
  color: #19177C; }

/* Name.Variable */
.ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
.mb {
  color: #666666; }

/* Literal.Number.Bin */
.mf {
  color: #666666; }

/* Literal.Number.Float */
.mh {
  color: #666666; }

/* Literal.Number.Hex */
.mi {
  color: #666666; }

/* Literal.Number.Integer */
.mo {
  color: #666666; }

/* Literal.Number.Oct */
.sb {
  color: #BA2121; }

/* Literal.String.Backtick */
.sc {
  color: #BA2121; }

/* Literal.String.Char */
.sd {
  color: #BA2121;
  font-style: italic; }

/* Literal.String.Doc */
.s2 {
  color: #BA2121; }

/* Literal.String.Double */
.se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
.sh {
  color: #BA2121; }

/* Literal.String.Heredoc */
.si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
.sx {
  color: #008000; }

/* Literal.String.Other */
.sr {
  color: #BB6688; }

/* Literal.String.Regex */
.s1 {
  color: #BA2121; }

/* Literal.String.Single */
.ss {
  color: #19177C; }

/* Literal.String.Symbol */
.bp {
  color: #008000; }

/* Name.Builtin.Pseudo */
.vc {
  color: #19177C; }

/* Name.Variable.Class */
.vg {
  color: #19177C; }

/* Name.Variable.Global */
.vi {
  color: #19177C; }

/* Name.Variable.Instance */
.il {
  color: #666666; }

/* Literal.Number.Integer.Long */
/* Table Styles:  */
table {
  width: 100%;
  border: none; }

table, th, td {
  border-collapse: collapse; }

th, td {
  border: 1px solid #ccc;
  padding: 0.5em; }

th {
  background: #e4ecf0;
  font-weight: 500; }

/* Glyphs:  */
.icon-search:before {
  font-family: FontAwesome;
  content: "\f002";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle; }

.but_contact:before {
  font-family: FontAwesome;
  color: #108ac0;
  content: "\f007";
  display: inline-block;
  padding: 0 3px 0 20px;
  vertical-align: middle; }

.but_outlook:before {
  color: #108ac0;
  font-family: FontAwesome;
  content: "\f073";
  display: inline-block;
  padding: 0 3px 0 20px;
  vertical-align: middle; }

.icon_arrow:after {
  font-family: FontAwesome;
  content: "\f0dd";
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 3px; }

.icon_gh:after {
  font-family: FontAwesome;
  content: "\f113";
  display: inline-block;
  padding: 0 3px 0 20px;
  vertical-align: middle;
  color: #4d4d4d; }

.icon_tw:after {
  font-family: FontAwesome;
  content: "\f099";
  display: inline-block;
  padding: 0 3px 0 20px;
  vertical-align: middle;
  color: #108ac0; }

.button.icon-slack a {
  background: #ffffff url(../images/icon-slack.png) no-repeat 10px 8px;
  padding-left: 30px;
  color: #4d4d4d;
  padding: 10px 10px 10px 40px; }

.icon-slack a:hover, .icon-slack a:focus {
  background-color: #d4d4d4; }

/* Product layout specific ---------------------------------------------------------- */
#rightpage article.reference {
  margin-left: 1em; }

#rightpage .reference article {
  margin: 0;
  padding: 0; }

body.products #rightpage .primary {
  font-size: 24px;
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
  color: #4d4d4d;
}

body.products #rightpage .secondary {
  color: #4d4d4d;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin-top: 40px;
  border-bottom: solid 1px #ddd;}

body.products #rightpage .reference article h1 {
  font-size: 20px;
  padding-top: 0;
}

body.products #rightpage .reference article h2 {
  font-size: 16px; }

body.products #rightpage .reference article h3 {
  font-size: 14px; }

body.products #rightpage .reference article h4 {
  font-size: 12px; }

/* Content layout: cardgrid for nobar */
.cardgrid {
  padding: 0;
  margin-right: -35px; }

.catalog {
  padding: 0;
  margin-right: 0; }

.cardgrid article {
  width: 30%;
  float: left;
  margin: 15px;
  padding: 1.7em;
  background: #fff;
  border: 1px solid #ccc; }

#rightpage .cardgrid.catalog article {
  background: #fafafa;
  padding: 0;
  min-height: 100px;
  width: 100%; }

#rightpage .cardgrid.catalog div {
  /*max-width: 320px;  will flow if you set max width */
  padding: 20px 40px; }

.catalog h2 {
  background: #e4ecf0;
  color: #4d4d4d;
  font-size: 20px;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid #ccc; }

.catalog img {
  width: 100%;
  max-width: 290px;
  display: block;
  margin: 0 auto; }

.catalog p {
  padding: 10px; }

/*removing first / second iterations - border tops */
body.products #rightpage h1:nth-of-type(2) {
  border-top: none;
  margin-top: 0; }

/*
 * Styling for the side navbar positioning using affix
 */
.affix {
  position: fixed;
  top: 0; }

.sub-menu-item {
  margin-left: 1.5em; }

/*
 * Feedback styles (borrowed from walmart.com)
 */
@font-face {
  font-family: WalmartIcons;
  src: url(walmarticons.woff2) format("woff2"), url(walmarticons.woff) format("woff"), url(walmarticons.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
.btn {
  font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 600; }

.btn-vote {
  width: 70px;
  height: 30px;
  border: 1px solid;
  padding: 0 0 0 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  text-align: left; }

.btn-vote, .btn-vote:focus {
  border-color: #dfebed;
  background-color: #dfebed;
  color: #007dc6;
  outline: none !important; }

.btn-vote:active, .btn-vote:hover {
  border-color: #007dc6;
  background-color: #007dc6;
  color: #fff;
  outline: none !important; }

.btn-vote:visited {
  outline: none !important; }

.btn-vote:focus {
  outline: none !important; }

.btn-vote {
  border-radius: 50px;
  margin-left: 10px;
  outline: none !important; }

.btn-vote.active {
  border: 2px solid #007dc6;
  outline: none !important; }

.btn-vote-up, .btn-vote-down {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  font-size: 15px;
  vertical-align: top; }

.btn-vote-up:before, .btn-vote-down:before {
  font-family: WalmartIcons;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  -mos-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.btn-vote-up {
  margin-bottom: 4px; }

.btn-vote-up:before {
  content: ""; }

.btn-vote-down {
  top: 1px;
  background-position: -18px 0; }

.btn-vote-down:before {
  content: ""; }

.btn-vote-group {
  padding-top: 10px;
  padding-bottom: 0px; }

.btn-vote-count {
  font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left: 1px;
  color: #888;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle; }

.btn-vote-heading {
  font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle; }

.hide-content {
  display: none !important; }

.display-inline-block-m {
  display: inline-block !important; }

.highlight {
  padding-bottom: 10px; }

/*# sourceMappingURL=style.css.map */

ol ol {
  padding-left: 20px;
}

li p {
  padding-bottom: 0!important;
  margin: 10px 0 0 0!important;
}

p {
  margin: 0!important;
}

.corpus-modal-textarea {
  width: 100%;
  height: 140px;
  outline: none;
  border: 2px solid rgba(197, 197, 197, 0.36);
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #888;
}

.corpus-default {
  padding: 5px 10px 5px 10px;
  border: none;
  background: #DDD;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 12px;
}

.corpus-primary {
  padding: 5px 10px 5px 10px;
  border: none;
  background: #FFB632;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-size: 12px;
}

.simplemodal-data {
  padding: 0 40px 0 40px;
}

.corpus-modal-auto {
  height: auto!important;
}

#corpus-modal-content, #corpus-modal-data {display:none;}

/* Overlay */
#corpus-overlay {background-color:#000;}

/* Container */
#corpus-modal-container {background-color:#FBFBFB; color:#000; font: 28px 'Montserrat', sans-serif; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:0 0 6px 6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000; box-shadow:0 0 64px #000;}
#corpus-modal-container a {color:#ddd;}
#corpus-modal-container #corpus-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#corpus-modal-container .close {display:none; position:absolute; right:0; top:0;}
#corpus-modal-container .close a {display:block; color:#777; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#corpus-modal-container .close a:hover {color:#000;}
#corpus-modal-container #corpus-modal-data {font-size:12px; padding: 20px 40px 0 40px;}
#corpus-modal-container h2 {margin:10px 0 6px;}
#corpus-modal-container p {margin-bottom:20px!important;}
#corpus-modal-container span {color:#777;}

#spinner {
  margin: 0 auto 0 auto;
  display: none;
  width: 30px;
}

#feedback-confirmation {
  position: absolute;
  top: 35%;
  font-size: 24px;
  line-height: 2em;
  width: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.feedback-confirmation-message {
  text-align: center;
}